.form {

  &__input {
    width: 100%;
    padding: 1.2rem 0;
    border: none;
    border-bottom: 1px solid $color-main;
    background: transparent;
    transition: .2s ease;

    &::placeholder {
      color: $color-main;
    }

    &:focus {
      outline: none;
      border-bottom-color: $color-accent-hover;

      &::placeholder {
        color: transparent;
      }
    }

    &--status {
      &--success {
        border-bottom-color: $color-form-success;
      }

      &--error {
        border-bottom-color: $color-form-error;
      }
    }
  }
}